.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sidenav > *{
  display: block;
  width: 100%;
}
.sidenav {
  min-width: 25%;
  padding: 20px;
}
.spacer {
  flex: 1 1 auto;
}
